@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root { 
  --font: "DM Serif Text", serif;
  --color-bg: #16151C;
  --color-secondary: #373541;
  --color-third: #6B7581;
  --color-yellow: #F9F2E0;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-red: #BD786A;
  --color-blue-dark: #4A667A;
  --color-blue-light: #A1DEF5;
  --color-mint: #CDE3D7;
  --color-transparent: rgba(0,0,0,0);
}